div {
    // height: fit-content;
    h1 {
        font-size: 30pt;
        color: #ffeded;
        padding: 8px;
        margin-top: 0;
    }
    nav {
        float: right;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        a {
            margin-right: 8px;
            font-size: 15pt;
            text-decoration: none;
            color: white;

            &:hover {
                color: rgb(1, 98, 155);
            }
        }
    }
}