:root {
    height: 100%;
}

app-header {
    background-color: #0e343d;
    // min-height: 200px;
    height: 150px;
    // min-height: min-content;
    // max-height: max-content;
    display: block;
}